@{
  Layout = "_Layout";
}

<span class="card-title"><h1>Venues @Model["band"].Name is playing at</h1></span>
@if(Model["venue"].Count == 0)
{
  <p>This band is not playing at any venues yet</p>
}
@foreach(var venue in Model["venue"])
{
  <p><a href="/venue/@venue.Id">@venue.Name</a></p>
}
<div class="card-action">
  <p><a href='/band/@Model["band"].Id/venue'>Add a venue to this band</a></p>
  <p><a href="/venue">View all venues</a></p>
</div>
