@{
  Layout = "_Layout";
}

<span class="card-title"><h1>Bands</h1></span>

@if(Model.Count == 0)
{
  <h3>No bands added yet</h3>
}
@foreach(var band in Model)
{
  <p><a href="/band/@band.Id">@band.Name</a></p>
}
<div class="card-action">
  <p><a href="/band/add">Add a band</a></p>
  <p><a href="/venue">View all venues</a></p>
</div>
