

<form action="/venue/@Model/updated" method="post">
  <label for="new-name">venue new name:</label>
  <input type="text" name="new-name" id="new-name">
  <button type="submit" name="button">submit</button>
</form>
