@{
  Layout = "_Layout";
}

<span class="card-title"><h1>Venues</h1></span>

@if(Model.Count == 0)
{
  <h3>No venues added yet</h3>
}
@foreach(var venue in Model)
{
  <p><a href="/venue/@venue.Id">@venue.Name</a></p>
}
<div class="card-action">
  <p><a href="/venue/add">Add a venue</a></p>
  <p><a href="/">View all bands</a></p>
</div>
